*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.container{
    max-width: 500px;
    background-color: white;
    border-radius: 0.8rem;
}

h1{
    color: black;
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    position: relative;
    background-color: rgb(196, 192, 192);
    border-radius: 1rem;
    border-bottom: 0.35rem solid violet;
    margin: 1rem 0;
    padding-top: 0.35rem;

}

.display {
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: white;
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;
}

.display::placeholder{
    position: absolute;
    top: 30%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: yellow;
    opacity: 0.65;
    text-transform: uppercase;
}

.display-container button{
    position: absolute;
    top: 30%;
    right: 1.5rem;
}

.input-container{
width: 100%;
border-bottom: 0.35rem solid violet;

}

.length-container{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.length-container p:nth-child(1) {
    font-size: 1.5rem;
}

.length-container p:nth-child(2) {
    color: red;
    font-size: 1.5rem;
}

.strength-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
    margin-bottom: 2rem;

}

.strength-container p{
    font-size: 1.5rem;
}

.indicator{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}